@model Warehouse.Webapp.Models.DeleteProductViewModel

@{
    ViewData["Title"] = "Delete Product";
}

<label for="cars">Which product do you want to delete ? </label>
<form asp-controller="Product" asp-action="Delete" type="post">
    <select name="productID">
        @foreach (var product in Model.Products)
        {
            <option value="@product.ProductID"> @product.ProductName</option>    
        }
    </select>
    <button type="submit">SUBMIT</button>
</form>


